$ff_main: 'CirceRegular', Helvetica, Arial, sans-serif;
$ff_bold: 'CirceBold', Helvetica, Arial, sans-serif;
$ff_exbold: 'Circe-ExtraBold', Helvetica, Arial, sans-serif;
$ff_seg: 'Segoe UI', Helvetica, Arial, sans-serif;
$ff_segbold: 'Segoe UI Bold', Helvetica, Arial, sans-serif;
$fz_main:18px;
$margin-padding:10px;
$width_xs_s:550px;
$width_xs:767px;
$width_md:1024px;
$width_lg:1169px;
$width_lgx:1366px;

$m_em:() !global;
$m_rem:() !global;

@for $i from 1 through 10 {
	$val: $margin-padding / $fz_main * $i;
	$m_em: append($m_em, $val + em);
	$m_rem: append($m_rem, $val + rem);
}

@function em-parent($fs, $m_em) {
	$m_px: ($m_em / 1em) * ($fz_main / 1px);
	$fsm_px: ($fz_main / 1px) * ($fs / 1em);

	@return $m_px / $fsm_px+em;
}

%op_0 {
	opacity: 0;
	visibility: hidden;
}

%op_1 {
	opacity: 1;
	visibility: visible;
}

$fs_025: .75em;
$fs_030: .8em;
$fs_05: .875em;
$fs_1: 1em;
$fs_15: 1.125em;
$fs_175: 1.325em;
$fs_2: 1.5em;
$fs_25: 2em;
$fs_3: 2.25em;

$fw_b: 700;
//COLORS
$clr_main:#00bd2d;
$clr_main_1: #007b1f;
$clr_main_2: #9ae8ac;
$clr_main_h: #edfff2;
$clr_yell: #ffd554;
$clr_light:#c0c6ca;
$clr_darklight:#777;
$clr_primary:#002250;
$clr_error:#e12b2b;
$clr_highlight:#77ab60;
$clr_border:#eaf1f8;
$clr_wh:white;
$clr_blue:#284461;
$clr_gray_1:#7382a0;
$clr_gray_2: #ddd;
$clr_gray_3: #f7f7f7;
$clr_gray_4: #878787;
$clr_gray:#f9f9f9;
$clr_dark: #000;
$clr_dark_l: #1b2e34;
$clr_dark_2: #4e4e4e;
$clr_dark_3: #161616;
$clr_black: #111;

$trans:.3s ease;
$trans15:.15s ease;

%bgir {
	background: no-repeat center/cover;
}

%bgin {
	background: no-repeat center/contain;
}

$bxsh_1: 0 8px 80px -22px rgba(0, 34, 80, 0.35);
$bxsh_3: 0 20px 80px -22px rgba(0, 34, 80, 0.35);
$bxsh: 0 4px 24px 7px rgba(211, 218, 228, 0.4);
$bxsh_2: 0 4px 34px -2px rgba(211, 218, 228, 0.7);

$br_r8:8px;
$br_r: 3px;
//ICONS
$icon_width:20px;
$icon_bg: url('/dist/img/sprite.svg');

//GRID
$grid-width:1210px;
$grid-gutter:40px;
$grid-columns:12;
