.b-forms {
	max-width: 100%;
}

.range-slider {
	.noUi-connect {
		background: $clr_main;
	}
}

.b-component {
	margin-bottom: 50px;
	border-bottom: 1px solid #e12b2b;
	padding-bottom: 50px;
}

.b-boxes {
	display: flex;

	&__block {
		flex-basis: 50%;
	}

	&__input {
		margin-bottom: 5px;
	}
}

.redsoft {
	text-decoration: none;
	display: inline-block;
	color: $clr_main;

	&__inner {
		display: flex;
		align-items: center;

		&:hover {
			path {
				fill: $clr_primary;
			}

			.redsoft__caption {
				color: $clr_primary;
			}
		}
	}

	&__caption {
		padding-left: 20px;
		transition: all .2s;
	}

	&__img {
		width: 50px;
		height: 50px;

		path {
			fill: $clr_main;
			transition: all .2s;
		}
	}
}
