.selectboxit-btn {
	box-shadow: none;
	background: $clr_wh;
	text-transform: uppercase;
	color: $clr_main;
	border: 2px solid $clr_main;
	border-radius: 30px !important;
}

.selectboxit-container * {
	font-size: $fz_main;
}

.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus,
.selectboxit-btn.selectboxit-enabled:active {
	color: $clr_main;
	background-color: $clr_wh;
}

.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
	@include arrow($clr_highlight, 2px, 4.5px, 'down');
	
	top: 7px;
	transition: all $trans;
}

.selectboxit.selectboxit-open .selectboxit-arrow-container .selectboxit-arrow {
	@include arrow($clr_highlight, 2px, 4.5px, 'up');

	top: 12px;
}

.selectboxit-container .selectboxit-text {
	min-width: 0 !important;
	max-width: 100% !important;
	width: auto !important;
	padding-left: 6px;
	margin-right: 0;
	padding-right: 22px;
}

.selectboxit-container .selectboxit-arrow-container {
	right: 6px;
}

.selectboxit-container .selectboxit-options {
	border-radius: 15px;
	border: 2px solid $clr_main;
	width: 100%;
	margin-top: -1px;
}

.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
	color: $clr_main;
	background: $clr_main;
}

.select.nice-select {
	height: 55px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border-color: rgba($clr_main, 1);
	border-radius: $br_r;
	font-family: $ff_bold;
	font-size: $fs_1;
	color: $clr_black;
	
	&:after {
		border-color: rgba($clr_main, 1);
		width: 10px;
		height: 10px;
		border-bottom-width: 1px;
		border-right-width: 1px;
		top: calc(50% - 3px);
	}

	&:hover {
		opacity: 1;
		border-color: rgba($clr_main, 1);
	}
	
	.list {
		top: calc(100% - 3px);
		box-shadow: none;
		width: calc(100% + 2px);
		margin-left: -1px;

		&:hover {
			.option {
				background-color: rgba($clr_main_1, .85) !important;

				&:not(:hover) {
					background-color: $clr_main_1 !important;
				}
			}
		}
	}

	.option {
		background-color: $clr_main_1;
		border-radius: $br_r;
		border: 1px solid rgba($clr_main, 1);
		color: $clr_wh;

		&.selected {
			display: none;
		}
	}
}
