.btn {
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: $clr_primary;
	text-align: center;
	line-height: 38px;
	text-transform: uppercase;
	text-decoration: none;
	border-radius: 4px;
	border: 1px solid $clr_border;
	transition: all .2s;
	cursor: pointer;
	box-sizing: border-box;
	margin-right: 5px;
	vertical-align: middle;


	&-border {
		border: 1px solid $clr_main;
		color: $clr_main;

		&:hover {
			background-color: $clr_main;
			color: #fff;
		}
	}


	&-primary {

		&:hover {
			border: 1px solid $clr_light;
		}
	}


	&-fill {
		background-color: $clr_main;
		color: $clr_wh;
		border: 0;

		&:hover {
			background-color: $clr_main_1;
		}
	}

}