mixin carousel(slides, type = 'banner')
	- slides = slides || [{title: "Title 1", subtitle: "Subtitle 1"}, {title: "Title 2", subtitle: "Subtitle 2"},{title: "Title 3", subtitle: "Subtitle 3"}]
	.carousel(class=`carousel__${type}`)&attributes(attributes)
		.swiper-container
			.swiper-wrapper
				each slide in slides
					if (type == 'banner')
						.swiper-slide.js-scroll-zoom(style=`background-image: url(./assets/images/temp/${slide.img})`)
							.g-grid
								.carousel__inner
									h1=slide.title
									p=slide.subtitle
			.carousel__navs.g-grid
				.swiper-button-prev
				.swiper-button-next