.section {
	&-one {
		min-height: 100vh;
		display: flex;
		transition: opacity $trans;
		overflow: hidden;
		position: relative;

		&.c-spinner {
			&:before {
				width: 70px;
				height: 70px;
				margin-top: -35px;
				margin-left: -35px;
				border-radius: 50%;
				border-top: 3px solid $clr_main;
			}

			> * {
				opacity: 0;
			}
		}

		&__main {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			transform-style: unset !important;
		}

		&__nav {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			pointer-events: none;

			.replaced-svg {
				width: auto;
				height: auto;
				padding-right: 40px;
				cursor: pointer;
			}

			&-arrow {
				transition: transform $trans;
				transform-origin: center;
				display: flex;
				align-items: center;
				pointer-events: all;

				&:hover {
					transform: translateX(10px);
				}

				&:focus,
				&:focus-within,
				&:active {
					transform: translateX(0);
				}
			}
		}

		&__logo {
			display: flex;
			align-items: center;
			justify-content: center;
			width: auto;
			height: auto;
			margin: auto;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			position: absolute;
			pointer-events: none;
			z-index: 15;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
			}

			svg {
				fill: $clr_main;
				width: 626px;
				height: 260px;
				pointer-events: all;
			}
		}

		&__wrapper {
			display: flex;
			position: relative !important;
			width: 50%;

			@include media($width_lgxl) {
				width: 40vw;
				max-width: 450px;
			}
		}

		&__girl {
			position: relative;
			z-index: -1;
			width: 100%;
			height: 100%;
		}

		&__flowers {
			position: absolute;
			height: auto;
			width: 125%;
			bottom: 17%;
			left: -10%;
			z-index: 333;
		}

		&__bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 40px;
			width: 100%;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
		}

		&__lighting {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -1;

			&-item {
				display: none;
				opacity: 1;
				pointer-events: none;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
			}
		}

		&__scroll {
			text-transform: uppercase;
		}

		&__share {
			display: flex;
			align-items: center;
		}

		&__progressbar {
			width: 455px;
			height: 2px;
			position: relative;
			background-color: $clr_primary;

			&__line {
				width: 0;
				position: absolute;
				left: 0;
				bottom: 0;
				height: 100%;
				background-color: $clr_white;
				transition: width $trans;
			}
		}

		&__title {
			width: 50%;
		}

		&__callback {
			position: absolute;
			z-index: 3;
			background-color: $clr_main_bg_light;
			display: flex;

			@include posReset();
		}

		&__sidebar {
			background-color: $clr_white;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			flex-direction: column;
			width: 40%;

			&-container {
				padding: 0 105px 0 160px;
				max-width: 650px;
				width: 100%;
			}

			&-title {
				margin: 0;
			}

			&-separator {
				width: 100%;
				height: 2px;
				background-color: $clr_main;
				margin: em(4) 0;
			}
		}

		&__form {
			width: auto;
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding-left: 105px;
			padding-right: 105px;
			max-width: none;
			flex: 1 0 auto;

			&-container {
				max-width: calc(720px - 105px * 2);
			}

			.form__field {
				margin-bottom: 0;
				padding-bottom: 0;
				height: 100%;

				input {
					height: 100%;
				}

				&-radio {
					label {
						padding-left: 0;
						width: 97px;
						height: 56px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: $fsz_h3;
						border: 1px solid $clr_border;
						overflow: hidden;
						transition: color $trans, border-color $trans .2s;

						&:before {
							width: 100%;
							height: 100%;
							z-index: -1;
							background-color: $clr_primary;
							border-radius: 0;
							border: none;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							transform: translateY(100%);
							position: absolute;
						}

						&:after {
							display: none;
						}

						&:hover {
							color: $clr_primary;
							border-bottom-color: $clr_primary;

							&:before {
								transform: translateY(calc(100% - 4px));
							}
						}
					}

					input {
						&:checked {
							+ label {
								color: $clr_white;
								border-color: $clr_primary;

								&:before {
									transform: translateY(0);
								}
							}
						}
					}
				}
			}

			&-or {
				margin: 0 30px;
			}

			&-input {
				height: 56px;
				width: 150px;

				input {
					width: 100%;
					font-size: $fsz_h3;
					border-color: $clr_white;
					background-color: $clr_white;
				}
			}

			&-top {
				display: flex;
				align-items: center;
			}

			&-title {
				font-size: $ff_main;
				margin-bottom: em(2);
			}

			&-main {
				margin-top: em(4);
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.form__field {
					width: 100%;
					max-width: 315px;
					margin-bottom: em(3);

					&:last-child {
						max-width: 100%;
					}

					input {
						padding-left: 0;
						background-color: $clr_main_bg_light;
						font-family: $ff_roboto;

						&::placeholder {
							font-family: $ff_roboto;
						}
					}

					label {
						&.error {
							font-family: $ff_roboto;
							text-transform: initial;
							font-size: 12px;
							bottom: -16px;
						}
					}
				}
			}

			&-agreegment {
				display: flex;
				margin-bottom: em(4);
				margin-top: em(4);

				.form__field-checkbox {
					&:first-child {
						margin-right: 20px;
					}

					label {
						font-family: $ff_roboto;
						text-transform: initial;

						a {
							color: $clr_primary;
						}
					}

					input:checked  {
						+ label {
							&:before {
								background-color: $clr_primary;
							}
						}
					}
				}
			}

			&-radios {
				display: flex;
			}
		}

		&__bg-layer {
			position: absolute;
			left: 40%;
			top: auto;
			bottom: 0;
			height: 100%;
			right: 0;
			background-color: $clr_white;
			z-index: 200;
		}

		&__success {
			position: absolute;
			z-index: 4;
			background-color: $clr_main_bg_light;
			left: 40%;
			top: 0;
			bottom: 0;
			right: 0;
			padding-left: 105px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			flex: 1 0 auto;

			&-bg {
				position: absolute;
				right: 105px;
				z-index: -1;
			}

			&-title {
				font-size: 68px;
			}

			&-subtitle {
				margin-bottom: em(3);
			}

			&-socials {
				position: absolute;
				right: 35px;
				bottom: 35px;
				background-color: $clr_white;
				border-radius: 50px;
				max-width: 64px;
				transition: all $trans;
				width: 100%;
				overflow: hidden;

				ul {
					display: flex;
					align-items: center;
					justify-content: center;

					li {
						margin-top: 20px;
						margin-bottom: 20px;
						margin-right: 30px;
						cursor: pointer;
						display: flex;
						align-items: center;
						justify-content: center;
						transition: all $trans;

						a {
							display: flex;
							align-items: center;
							justify-content: center;
						}

						svg {
							width: 24px;
							height: 24px;
						}

						&:first-child {
							margin-left: 30px;
						}

						&:not(:last-child) {
							position: absolute;
							opacity: 0;
							top: 0;
							bottom: 0;
							left: 100%;
							right: auto;
							transform: translateX(100%);
						}

						&:last-child {
							margin: 0;
							padding: 20px;

							svg {
								transform: rotate(45deg);
							}
						}
					}
				}

				&.c-show {
					max-width: 350px;

					ul {
						li {
							position: relative;
							opacity: 1;
							transform: translateX(0);
							right: 0;
							left: 0;

							&:last-child {
								margin-right: 30px;
								padding-left: 0;
								padding-right: 0;

								svg {
									transform: rotate(0);
								}
							}

							@for $i from 2 through 10 {
								&:nth-child(#{$i}) {
									transition: all $trans #{$i / 40}s;
								}
							}
						}
					}
				}
			}
		}
	}
}
