.section {
	&-one {
		min-height: 100vh;
		display: flex;
		transition: opacity $trans;
		overflow: hidden;
		position: relative;

		&.c-spinner {
			&:before {
				width: 70px;
				height: 70px;
				margin-top: -35px;
				margin-left: -35px;
				border-radius: 50%;
				border-top: 3px solid $clr_main;
			}

			> * {
				opacity: 0;
			}
		}

		&__main {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			transform-style: unset !important;

			@include media($width_xs) {
				flex-direction: column-reverse;
				justify-content: center;
				padding-top: 90px;
				padding-bottom: 50px;
			}

			@include mediaH(640px) {
				padding-top: 60px;
			}
		}

		&__nav {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			display: flex;
			align-items: center;
			justify-content: space-between;
			pointer-events: none;
			z-index: 4;

			.replaced-svg {
				width: auto;
				height: auto;
				padding: 40px;
				cursor: pointer;
			}

			&-arrow {
				transition: transform $trans;
				transform-origin: center;
				display: flex;
				align-items: center;
				pointer-events: all;

				svg {
					transition: all $trans;

					&:hover {
						transform: translateX(10px);
					}

					&:focus,
					&:focus-within,
					&:active {
						transform: translateX(0);
					}
				}

				&.nav-arrow-right {
					@include media($width_lgx) {
						display: none;
					}
				}

				&.nav-arrow-left {
					svg {
						transform: scale(-1, -1);

						@include media($width_md) {
							top: -1px;
							background-color: $clr_white;
							bottom: auto;
							width: 65px;
							padding: 15px;
							position: absolute;
						}
					}
				}
			}
		}

		&__logo {
			display: flex;
			align-items: center;
			justify-content: center;
			width: auto;
			height: auto;
			margin: auto;
			left: 0;
			right: 0;
			bottom: 0;
			top: 0;
			position: absolute;
			pointer-events: none;
			z-index: 15;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
			}

			&.section-one__logo-top {
				a {
					@include media($width_xs) {
						padding-top: 2vw;
					}

					@include mediaH(640px) {
						padding-top: 4vmax;
					}
				}
			}

			svg {
				fill: $clr_main;
				width: 100%;
				max-width: calc(100% - 200px);
				height: 260px;
				pointer-events: all;

				@include media($width_xs) {
					max-width: 100%;
				}
			}
		}

		&__wrapper {
			display: flex;
			position: relative !important;
			width: 50%;

			@include media($width_lgxl) {
				width: 40vw;
				max-width: 450px;
				margin-right: 5%;
			}

			@include media($width_xs) {
				width: calc(70vmin);
				max-height: 365px;
				margin-right: 0;
			}

			@include mediaH(640px) {
				width: calc(70vmin - 100px);
			}
		}

		&__girl {
			position: relative;
			z-index: -1;
			width: 100%;
			height: 100%;

			@include media($width_xs) {
				padding-bottom: 8px;
			}
		}

		&__flowers {
			position: absolute;
			height: auto;
			width: 125%;
			bottom: 17%;
			left: -10%;
			z-index: 1;
		}

		&__bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 40px;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: 48px;
			box-sizing: content-box;
			width: auto;

			@include media($width_xs) {
				padding: 10px $callback_padding_xs;
			}

			@include mediaWH($width_xs, 640px, 2) {
				padding: 10px $callback_padding_xs;
			}
		}

		&__lighting {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -1;

			&-item {
				display: none;
				opacity: 1;
				pointer-events: none;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
			}

			@include media($width_xs) {
				width: 200%;
			}
		}

		&__scroll {
			text-transform: uppercase;

			@include media($width_xs) {
				display: none !important;
			}

			@include mediaWH($width_xs, 640px, 2) {
				display: none !important;
			}
		}

		&__progressbar {
			width: 100%;
			height: 2px;
			position: relative;
			background-color: $clr_primary;
			max-width: 455px;
			margin: auto;

			&__line {
				width: 0;
				position: absolute;
				left: 0;
				bottom: 0;
				height: 100%;
				background-color: $clr_white;
				transition: width $trans;
			}

			@include media($width_xs) {
				max-width: 100%;
				width: calc(100% - 70px);
				margin-left: 0;
			}

			@include mediaH(640px) {
				width: calc(100% - 60px);
			}
		}

		&__title {
			width: 50%;

			@include media($width_xs) {
				width: 100%;
				margin-bottom: 0;
				text-align: center;
			}

			@include mediaH(640px) {
				font-size: 10.5vmin;
			}
		}

		&__callback {
			position: absolute;
			z-index: 3;
			background-color: $clr_main_bg_light;
			display: flex;

			@include media($width_md) {
				flex-wrap: wrap;
				height: auto;
				overflow-y: auto;
				align-items: flex-start;
			}

			@include posReset();

			.socials {
				bottom: 0;

				@include mediaWH($width_xs, 640px, 2) {
					bottom: 30px;
				}

				@include media($width_xs) {
					bottom: 25px;
				}
			}
		}

		&__sidebar {
			background-color: $clr_white;
			display: flex;
			flex-direction: column;
			width: 40%;
			height: 100%;
			position: fixed;
			top: 0;
			bottom: 0;
			overflow-y: auto;

			@include media($width_md) {
				width: 100%;
				left: 0;
				position: relative;
				height: auto;
			}

			&-container {
				padding: $callback_padding_lg $callback_padding_lg $callback_padding_lg 160px;
				max-width: 650px;
				width: 100%;
				margin: auto;

				@include media($width_lgxl) {
					padding-left: 118px;
				}

				@include media($width_md) {
					margin: 0;
					max-width: 100%;
					padding: 140px $callback_padding_md $callback_padding_md;
				}

				@include media($width_xs) {
					padding: 125px $callback_padding_xs $callback_padding_md;
				}
			}

			&-title {
				margin: 0;
			}

			&-separator {
				width: 100%;
				height: 2px;
				background-color: $clr_main;
				margin: em(4) 0;

				@include media($width_md) {
					margin: 18px 0;
				}
			}
		}

		&__form {
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: none;
			flex: 1 0 auto;
			padding: $callback_padding_lg;
			margin: auto;
			height: auto;
			width: 100%;

			@include media($width_lgxl) {
				padding: $callback_padding $callback_padding_lg;
			}

			@include media($width_md) {
				padding: $callback_padding_md;
			}

			@include media($width_xs) {
				padding: $callback_padding_md $callback_padding_xs 100px;
			}

			@include mediaWH($width_md, $width_xs + 1px, 2) {
				padding-top: $callback_padding_lg_x;
				padding-bottom: $callback_padding_lg_x;
			}

			&-container {
				max-width: 720px;

				@include media($width_md) {
					max-width: 100%;
				}
			}

			&-scroll-wrapper {
				position: fixed;
				left: 40%;
				top: 0;
				bottom: 0;
				right: 0;
				width: auto;
				height: 100%;
				display: flex;
				flex-wrap: wrap;
				overflow-x: hidden;
				overflow-y: auto;

				@include media($width_md) {
					width: 100%;
					height: auto;
					left: 0;
					position: unset;
					overflow: hidden;
				}

				.section-one__logo {
					left: auto;
					right: auto;
					width: 100%;
					padding-left: $callback_padding;
					top: 0;
					margin: 0;
					bottom: auto;
					position: absolute;

					@include media($width_lgxl) {
						padding-left: $callback_padding_lg;
					}

					@include media($width_md) {
						padding-left: 0;
					}

					a {
						justify-content: flex-start;
						margin-left: -153px;

						@include media($width_md) {
							margin-left: 0;
							justify-content: center;
						}
					}

					svg {
						height: 130px;
						width: auto;

						.st0 {
							&:first-child {
								transform: translateY(7px);
							}
						}

						@include media($width_xs) {
							max-width: 210px;
						}
					}
				}
			}

			&-scroll-container {
				overflow: hidden;
			}

			&-footer {
				@include media($width_xs_s) {
					.btn {
						width: 100%;
						margin-right: 0;
					}
				}
			}

			.form__field {
				margin-bottom: 0;
				padding-bottom: 0;
				height: 100%;

				@include media($width_xs_s) {
					width: calc(100% / 3);
				}

				input {
					height: 100%;
				}

				&-radio {
					label {
						padding-left: 0;
						width: 97px;
						height: 56px;
						display: flex;
						align-items: center;
						justify-content: center;
						font-size: $fsz_h3;
						border: 1px solid $clr_border;
						overflow: hidden;
						transition: color $trans, border-color $trans .2s;

						&:before {
							width: 100%;
							height: 100%;
							z-index: -1;
							background-color: $clr_primary;
							border-radius: 0;
							border: none;
							top: 0;
							bottom: 0;
							left: 0;
							right: 0;
							transform: translateY(100%);
							position: absolute;
						}

						&:after {
							display: none;
						}

						&:hover {
							color: $clr_primary;
							border-bottom-color: $clr_primary;

							&:before {
								transform: translateY(calc(100% - 4px));
							}
						}

						@include media($width_xs_s) {
							width: 100%;
						}
					}

					input {
						&:checked {
							+ label {
								color: $clr_white;
								border-color: $clr_primary;

								&:before {
									transform: translateY(0);
								}
							}
						}
					}
				}
			}

			&-or {
				margin: em(2) 30px 0;

				@include media($width_lg) {
					width: 100%;
				}

				@include media($width_md) {
					width: auto;
				}

				@include media($width_xs) {
					margin-left: 0;
				}
			}

			&-input {
				height: 56px;
				width: 150px;
				margin-top: em(2);

				@include media($width_xs_s) {
					flex: 1 0 auto;

					.form__field {
						width: 100%;
					}
				}

				input {
					width: 100%;
					font-size: $fsz_h3;
					border-color: $clr_white;
					background-color: $clr_white;
				}
			}

			&-top {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
			}

			&-title {
				font-family: $ff_main;
				margin-bottom: 0;
			}

			&-main {
				margin-top: em(4);
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				.form__field {
					width: calc(50% - 10px);
					max-width: 315px;
					margin-bottom: em(3);

					&:last-child {
						max-width: 100%;
					}

					@include media($width_md) {
						max-width: 100%;

						&:last-child {
							width: 100%;
							margin-bottom: 0;
						}
					}

					@include media($width_xs_s) {
						width: 100%;
					}

					input {
						padding-left: 0;
						background-color: $clr_main_bg_light;
						font-family: $ff_roboto;

						&::placeholder {
							font-family: $ff_roboto;
						}
					}

					label {
						&.error {
							font-family: $ff_roboto;
							text-transform: initial;
							font-size: 12px;
							bottom: -16px;
						}
					}
				}
			}

			&-agreegment {
				display: flex;
				margin-bottom: em(4);
				margin-top: em(4);

				@include media($width_xs_s) {
					flex-wrap: wrap;
					margin-bottom: em(3);
					margin-top: em(3);
				}

				.form__field-checkbox {
					&:first-child {
						margin-right: 20px;
					}

					@include media($width_xs_s) {
						width: 100%;
						margin-top: em(1);

						&:first-child {
							margin-right: 0;
							margin-top: 0;
						}
					}

					label {
						font-family: $ff_roboto;
						text-transform: initial;
						display: inline-block;

						a {
							color: $clr_primary;
						}
					}

					input:checked  {
						+ label {
							&:before {
								background-color: $clr_primary;
							}
						}
					}
				}
			}

			&-radios {
				display: flex;
				flex-wrap: wrap;
				margin-top: em(2);

				@include media($width_xs) {
					width: 100%;
				}
			}
		}

		&__bg-layer {
			position: fixed;
			left: 40%;
			top: auto;
			bottom: 0;
			height: 100%;
			right: 0;
			background-color: $clr_white;
			z-index: 200;

			@include media($width_md) {
				width: 100%;
				left: 0;
			}
		}

		&__success {
			position: relative;
			z-index: 4;
			background-color: $clr_main_bg_light;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			padding: $callback_padding;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			flex: 1 0 auto;

			@include media($width_lgxl) {
				padding: $callback_padding $callback_padding_lg;
			}

			@include media($width_md) {
				width: 100%;
				position: relative;
				left: 0;
				padding: $callback_padding_md;
			}

			@include media($width_xs) {
				padding: $callback_padding_md $callback_padding_xs 100px;
			}

			&-bg {
				position: absolute;
				right: $callback_padding;
				z-index: -1;

				@include media($width_lgxl) {
					right: $callback_padding_lg;
				}

				@include media($width_md) {
					left: 0;
					right: 0;
					bottom: 0;
					top: 0;
				}
			}

			&-title {
				font-size: 68px;

				@include media($width_lg_xs) {
					font-size: 48px;
				}

				@include media($width_xs) {
					font-size: 36px;
				}
			}

			&-subtitle {
				margin-bottom: em(3);
			}

			.btn {
				@include media($width_xs_s) {
					width: 100%;
					margin-right: 0;
				}
			}
		}
	}
}
