mixin footer()
	footer.footer&attributes(attributes)
		.footer__inner
			.container
				a(target="_blank" href="https://redsoft.ru" class="redsoft")
					.redsoft__inner
						span.redsoft__img
							+icon('logo')
						span.redsoft__caption Разработка сайта #[br] Redsoft
