- const staticPath = "./assets/";
- const imgPath = `${staticPath}images/`;

include ../blocks/btn/btn
include ../blocks/icon/icon
include ../blocks/form__field/form__field

mixin title(...titleParts)
	- var t = "Your Website Name"
	each titlePart in titleParts.reverse()
		- t = titlePart + " / " + t
	title #{t}

mixin statcss(href)
	link(rel="stylesheet" href=href)

mixin statjs(href)
	script(src=href)
