extends ../_layouts/master.pug
block title
	+title("Redsoft UI Kit")
block content
	.container
		.b-component
			ul
				each item in $data.headerLink
					li
						a(href=item.link)=item.name
		.b-component
			ul
				each item in $data.footerLink(10)
					li
						a(href=item.link)=item.name
		.b-buttons.b-component
			h3.h3 1. Кнопки
			+btn() btn-primary
			+btn('fill') btn-fill
			+btn('border') btn-border
			+btn('fill','submit', false, 'btn-submit')
		.b-forms.b-component
			h3.h3 2. Формы
			form.form
				+formField('text', 'ФИО')(data-msg="Поле ФИО обязательно для заполнения", data-msg-minlength="Пожалуйста, введите не меньше 3 символов.", minlength="3", required)
				+formField('tel', 'Телефон')(name="phoneRU", required)
				+formField('text', 'Дата')(name="date", required).date-input
				+formField('text', 'E-mail')(name="email", required).email-input
				+formField('password', 'Пароль')(name="password", minlength="6", password="true", required)#password
				+formField('password', 'Повторите пароль')(name="password-confirm", password="true", equalTo="#password", required)#password-confirm
				+formField('select', 'Выберите значение', $data.selectOptions)(name="select", required)
				.form__footer
					+btn('fill','submit', false, 'Отправить')

		.b-carousel.b-component
			h3.h3 3. Слайдеры
			+carousel()
		.b-typographie.b-component
			h3.h3 4. Заголовки
				h1.h1 Redsoft h1
				h2.h2 Redsoft h2
				h3.h3 Redsoft h3
				h4.h4 Redsoft h4
				h5.h5 Redsoft h5
				h6.h6 Redsoft h6
		.b-component
			h3.h3 5. Checkbox, Radio-input
			.b-boxes
				.b-boxes__block
					.b-boxes__input
						input(type="checkbox", id="checkbox")
						label(for="checkbox") Чекбокс 1
					.b-boxes__input
						input(type="checkbox", id="checkbox2")
						label(for="checkbox2") Чекбокс 2
				.b-boxes__block
					.b-boxes__input
						input(type="radio", name="radios", id="radio1")
						label(for="radio1") Радиокнопка 1
					.b-boxes__input
						input(type="radio", name="radios", id="radio2")
						label(for="radio2")  Радиокнопка 2
		.b-range-slider.b-component
			h3.h3 6. Range-slider
			.range-slider