* {
	box-sizing: border-box;
}

body {
	font-family: $ff_main;
	height: 100%;
	overflow: hidden;
	color: $clr_main;
	font-size: $fsz_main;
	line-height: 1.09;
	transition: all $trans;
	background: $clr_main_bg;
	margin: 0;
	text-transform: uppercase;
}

html {
	scroll-behavior: smooth;
}

#main {
	overflow: hidden;
}
