.rs-form {
	.nice-select {
		float: none;
		font-size: 16px;

		&:hover {
			border-color: $clr_main;
		}

		.list {
			right: 0;
		}

		&.open,
		&.focus {
			border-color: $clr_main;
		}
	}

	&__footer {
		margin-top: 10px;
	}

	&__field {
		margin-bottom: 15px;
		position: relative;

		&.error {
			padding-bottom: 20px;

			.rs-form__input {
				border-color: $clr_main;
			}
		}
	}

	&__textarea {}

	&__input {
		position: relative;
	}
}