mixin btn(style = 'primary', type = 'link', agree = false, text)
    if agree
        .btn-wrapper.rsform-group
            if type == 'submit'
                .btn-inner
                    button(type="submit" class=`btn-${style}`)&attributes(attributes)
                        block
                small Нажимая кнопку «отправить» #[a(href='/') я даю согласие на обработку персональных данных]
            else
                .btn-inner
                    a(href="javascript:void(0)" class=`btn-${style}`)&attributes(attributes)
                        block
                small Нажимая кнопку «отправить» #[a(href='/') я даю согласие на обработку персональных данных]
    else
        if type == 'submit'
            button(type="submit" class=`btn btn-${style}`)&attributes(attributes)!=text
        else
            a(href="javascript:void(0)" class=`btn btn-${style}`)&attributes(attributes)
                block
