.btn {
	display: inline-block;
	padding: 7px 42px;
	color: $clr_dark;
	text-align: center;
	line-height: 1.6;
	text-transform: uppercase;
	text-decoration: none;
	border: 1px solid $clr_border;
	transition: all .2s;
	cursor: pointer;
	box-sizing: border-box;
	margin-right: 5px;
	vertical-align: middle;
	font-size: $fsz_h3;

	&-border {
		border: 1px solid $clr_main;
		color: $clr_main;

		&:hover {
			background-color: $clr_main;
			color: $clr_white;
		}
	}

	&-primary {
		&:hover {
			border: 1px solid $clr_disabled_bg;
		}
	}

	&-fill {
		background-color: $clr_primary;
		color: $clr_white;
		border-color: $clr_primary;

		&:hover {
			background-color: lighten($clr_primary, 10%);
			border-color: lighten($clr_primary, 10%);
		}

		&.c-spinner {
			color: transparent;

			&:before {
				width: 40px;
				height: 40px;
				margin-top: -20px;
				margin-left: -20px;
				border-top-color: $clr_white;
			}
		}
	}

	&-disabled,
	&:disabled {
		background-color: rgba($clr_disabled_bg, .9);
		color: $clr_white;
		border-color: rgba($clr_disabled_bg, .9);

		&:hover {
			background-color: rgba($clr_disabled_bg, 1);
			border-color: rgba($clr_disabled_bg, 1);
		}
	}
}
