.error-label {
	color: $clr_main;
	position: absolute;
	bottom: -5px;
	left: 15px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
	border: 1px solid $clr_border;
	padding: 10px 15px;
	width: 100%;
	transition: border-color .2s;
	outline: none;

	&::placeholder {
		color: $clr_grey;
		text-transform: unset;
	}

	&:focus {
		border-color: $clr_primary;
	}

	&:hover {
		border-color: $clr_primary;
	}
}

textarea {
	width: 100%;
	min-height: 65px;
	padding: 10px;
	border: 1px solid $clr_border;
	transition: all .2s;
	outline: none;
	resize: none;

	&::placeholder {
		color: $clr_grey;
		text-transform: unset;
	}

	&:focus {
		border-color: $clr_primary;
	}

	&:hover {
		border-color: $clr_primary;
	}
}

input[type="radio"],
input[type="checkbox"] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	margin: 10px 0 0 7px;

	&:checked {
		& + label:after {
			opacity: 1;
		}
	}

	& + label {
		position: relative;
		padding: 0 0 0 27px;
		cursor: pointer;
		font-size: 12px;
		color: $clr_dark;

		&:before {
			content: '';
			margin: auto;
			position: absolute;
			top: -2px;
			bottom: 0;
			left: 0;
			width: 15px;
			height: 15px;
			border: 1px solid $clr_grey;
			border-radius: 50%;
			background: $clr_white;
			transition: all $trans;
		}

		&:after {
			content: '';
			position: absolute;
			left: 6px;
			top: 2px;
			width: 3px;
			height: 7px;
			border: solid $clr_white;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
			background-color: transparent;
			box-shadow: none;
			opacity: 0;
			transition: .2s;
		}
	}
}

input[type="checkbox"] {
	& + label {
		&:before,
		&:after {
			border-radius: 0;
		}
	}
}
